body {position:absolute; height:100%; min-height:100%;width: 100%;}
body{
	font-family:arial;
}
.body-wrp {min-height: 100%; position: relative;}

.body-wrp .content {padding:0 44px}

.body-wrp .footer-bar {width:100%; height:35px; border-top:solid 1px #ebebeb; overflow:hidden; position:absolute; bottom:0; left:0;}
.body-wrp .footer {padding-top: 9px;font-size: 0.85em;}

.footer ul {margin:0; color:#999; float:left; max-width:80%; list-style:none;}
.footer ul li {display:inline; padding:0 1.5em 0 0;}
.footer a {color:#333}
.footer form {text-align:right;}
.footer form .lang-chooser{max-width:20%; font-size:inherit; font-family:inherit; width:150px; padding:2px; height:auto; margin-top:-3px;}

.body-wrp .header-bar{height:71px; background:#F1F1F1; border-bottom:1px solid #E5E5E5; overflow:hidden;}
.header .logo{width:180px; margin-top:14px; float:left;}

.account-box {float:right; padding-top:22px; width:350px; overflow:hidden;}
.account-box .btn-signin {float:right;}
.account-box .name {margin-top:3px; float:right;}
.account-box .avatar {width:25px; height:25px; float:right; margin-left:5px;}
.account-box .caret {float:right; margin:10px 0 0 5px;}
.account-box .account-popover {float:right; cursor:pointer}
.account-board {width:350px;}
.account-board.popover.bottom {margin-top:15px;}
.account-board.popover .arrow {right:18px; left:auto;}
.account-board .name {font-weight:bold;}
.account-board .email, .account-board .phone{color:gray;}
.account-board .info {margin-bottom:5px;}
.account-board .commands {border-top:solid 1px #eee; margin-top:8px; padding:10px 0}

.redtext {color:#DD4B39}
.page-header {margin:10px 0 20px;}
.signin .page-header, .signup .page-header {border:none; margin:0 0 15px; padding:0}
.page-header h1 {font-weight:normal; font-size: 1.8em; margin:0; padding:0; line-height:normal;}

h2 {font-weight:normal; font-size:1.4em; line-height:normal; margin:0 0}
.page-header h2 {font-size:1.2em;}

.signup,.signin {padding-top:2.5em;}

.signin .product .page-header h2 {margin-top:0.4em;}
.signin .signin-box h2 {margin-bottom:1em;}
.signin-box form .row-fluid {margin-bottom:0.5em;}
.signin-box span.reauth {margin-bottom:9px; display:block; font-weight: bold;}
.signin-box ul {list-style:none; margin:0;}
.signin-box ul li {margin-bottom:5px;}

.btn-red {border:1px solid transparent; color:white; text-shadow:0 1px rgba(0, 0, 0, 0.1); text-transform:uppercase; background-color:#D14836; background-image:-webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836)); background-image:-webkit-linear-gradient(top,#DD4B39,#D14836); background-image:-moz-linear-gradient(top,#DD4B39,#D14836); background-image:-ms-linear-gradient(top,#DD4B39,#D14836); background-image:-o-linear-gradient(top,#DD4B39,#D14836); background-image:linear-gradient(top,#DD4B39,#D14836);}

i.icon-baokim {background-image:url('images/icon-baokim-gray.png'); background-position:0 0;}
.active a i.icon-baokim {background-image:url('images/icon-baokim-white.png') !important;}
i.icon-activate {background-image: url('images/verify.jpg') !important;background-position: 0 0;}
.input-sms-code{margin-top:10px;}
.bluetext{color:#005580;}
.resend_sms_label{color: blue;cursor: pointer;}
.verify_phone{margin:0}
.captcha-form{width:350px;}

#recaptcha_widget{
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    width: 100%;
}
#recaptcha_image{
 	 height: 57px;
 	 margin-left: 20px;
}
.recaptcha-main{
   padding:13px 13px 17px;
    position: relative;
}
.recaptcha_only_if_image{
    display: block;
    margin: 0 0 2px;
}
.recaptcha_image_cover{
	border-bottom: 1px solid #E5E5E5;
   
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
#recaptcha_response_field{
	float:left;
}
.recaptcha-widget #recaptcha_reload_btn {
    background: url("images/recaptcha-sprite.png") repeat scroll -63px center transparent;
}
.recaptcha-widget .recaptcha-buttons a {
    background: none no-repeat scroll center center #FFFFFF;
    display: inline-block;
    height: 21px;
    line-height: 0;
    margin-left: 2px;
    opacity: 0.55;
    width: 21px;
}
.recaptcha-widget #recaptcha_whatsthis_btn {
    background: url("images/recaptcha-sprite.png") repeat scroll 0 0 transparent;
}
.recaptcha-widget .recaptcha-buttons a {
    background: none no-repeat scroll center center #FFFFFF;
    display: inline-block;
    height: 21px;
    line-height: 0;
    margin-left: 2px;
    opacity: 0.55;
    width: 21px;
}
.recaptcha-widget .recaptcha-buttons a:hover{
	opacity: 0.8;
}
.recaptcha-buttons{
	padding-top:2px;
}
.checkbox{
	margin-top:10px;
}
.btn-resend-sms{margin-top:10px;}
.activate-label{margin-bottom: 10px;text-align: center;}
.tbAlert-email{
	margin-left:300px;
}
.success-sms .alert-block, .success-email .alert-block{
	background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.error-sms .alert-block, .error-email .alert-block{
	background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.btn-change-pass{
	margin-top: 0;
	margin-bottom: 0px;
}
.page-header h1.redtext{
	float:left;
}
.page-header div.icon-chevron-right{
	float:left;
	margin:7px;
}
.page-header{
	float: left;
	width: 100%;
}
.form-change-pass{
	float: left;
	background: #EEE;
	border-radius: 4px;
	padding-top: 15px;
	margin-top:10px;
	margin-left:0 !important; 
}
.form-horizontal .control-label {
	text-align: left;
	padding-left: 13px;
	position:relative;
	padding-right: 5px;
}
.radio-method-pass{
	position: absolute;
	left: 15px;
	top: 18px;
	z-index: 999;
}
.radio-method-question{
	position: absolute;
	left: 15px;
	top: 69px;
	z-index: 999;
}

.control-disable .success .control-label{
	color:#999;
}

.control-disable .controls input{
	border-color:#999;
}
label.label_or{
	margin-top: -17px;
	margin-left: 13px;
	font-weight: bold;
}
.form-change-pass{
	position:relative;
}
.form-change-pass .control-label{
	width: 345px;
	padding-right: 5px;
}
.form-change-pass .radio{
	margin-left: -19px;
}
.form-change-pass span.error{
	margin-left:178px;
}
input.change-pass-radio{
	margin-top:3px;
}
.form-change-pass .controls{
	position:relative;
}
.form-change-pass .controls .btn-primary{
	margin-left: 50px;
}
.form-change-pass .controls span.error{
	font-size: 12px;
    left: 0;
    position: absolute;
    top: 30px;
}
.form-change-pass .another-question span.error{
    left: -183px;
    position: absolute;
    top: 30px;
}
.change-phone-label{
	cursor: pointer;
	color: #08C;
	margin: -6px 0 5px 15px;
}
.btn-change-pass{
	margin-bottom:10px;
}
select.select-question{
	width: 300px;
}
select.select-question :first-child{
	font-style: italic;
}
.form-change-pass .another-question{
	margin-left: 283px;
	margin-top: -15px;
	margin-bottom: 20px;
	display: none;
}
.another-question .another-question-input{
	width:286px;
}
a.change_pass_label{
}
.phone-captcha{
	width:320px;
}
.phone-captcha #recaptcha_widget{
	border-radius:3px;
}
.form-change-pass1 .error{
	color: #B94A48;
}