body
    {
    font-size: 12px;
    }

.container { }

a:hover
    {
    text-decoration: underline;
    color: #3b6fba;
    }

.layout-main-shortcuts
    {
    background: none repeat scroll 0 0 #3B6FBA;
    color: #FFFFFF;
    line-height: 16px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: right;
    }

.header
    {
    margin: 0 auto;
    width: 990px;
    }

.services
    {
    float:        left;
    padding-left: 280px;
    text-align:   left;
    }

.services ul li
    {
    display:     inline;
    margin-left: 20px;
    padding-bottom: 5px;
    float:       left;
    }

.services ul li.menu_current
    {
    background: url("images/icon_menu.jpg") no-repeat scroll center 14px transparent;
    }

.services ul li.menu_current a
    {
    font-weight: bold;
    }

.services ul li.menu_select
    {
    background: none repeat scroll 0 0 #628CC8;
    float: left;
    height: 26px;
    margin-top: -5px;
    padding: 0;
    width: 27px;
    cursor: pointer;
    }

.services ul li.menu_select label
    {
    background: url("images/all_button.png") no-repeat scroll-29px-18px transparent;
    float: left;
    height: 6px;
    margin: 11px 9px;
    width: 10px;
    }

.services ul li a
    {
    color: #fff;
    }

.gh-log a
    {
    color:       #fff;
    font-weight: bold;
    }

.layout-main-header
    {
    margin:  0 auto;
    padding: 20px 10px 10px;
    width:   960px;
    }

.container_12.grid_4
    {
    width: 280px;
    float: left;
    }

.container_12.grid_4 label
    {
    font-size: 16px;
    }

.gh-sb
    {
    border-color: #999999 #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
    cursor:       pointer;
    float:        left;
    height:       26px;
    padding:      2px 4px 2px 2px;
    width:        160px;
    }

.container_12 input.gh-tb
    {
    border-color: #999999 #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float:        left;
    height:       22px;
    width:        350px;
    }

.container_12.select-left
    {
    background: url("images/all_button.png") no-repeat scroll-2px-29px transparent;
    float: left;
    height: 26px;
    width: 5px;
    display: none;
    }

.container_12.select-right
    {
    background: url("images/all_button.png") no-repeat scroll-10px-29px transparent;
    float: left;
    height: 26px;
    width: 5px;
    display: none;
    }

.container_12.gh-btn
    {
    background: url("images/all_button.png") no-repeat scroll-72px-3px transparent;
    border: medium none;
    cursor: pointer;
    height: 26px;
    margin-left: 5px;
    margin-top: 0;
    padding-bottom: 3px;
    width:  100px;
    }

.layout-main-bg { }

#page {
/*    background: url("images/mainbg.png") no-repeat scroll center 0 transparent;*/
}

.container1
    {
    margin:  0 auto;
    padding: 10px 0 0 0;
    width:   990px;
    }

.container12
    {
    margin-left:  auto;
    margin-right: auto;
    width:        980px;
    }

.navigator
    {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 28px;
    padding-left: 10px;
    padding-top: 3px;
    }

.navigator span.separator
    {
    background: url("images/all_button.png") no-repeat scroll-189px-29px transparent;
    float: left;
    height: 10px;
    margin: 7px 6px;
    width: 8px;
    }

.navigator h1 span.separator
    {
    margin-top: 3px;
    }

.navigator a
    {
    float: left;
    }

.breadcrumbs
    {
    float:       left;
    padding-top: 2px;
    }

.navigator h1 a:last-child
    {
    font-weight: bold;
    }

.create_ads
    {
    background: url("images/all_button.png") no-repeat scroll-19px-29px transparent;
    float: right;
    height: 27px;
    margin-top: -3px;
    padding-top: 5px;
    text-align: center;
    width: 165px;
    }

.create_ads a
    {
    color: #fff;
    float: none;
    }

.rct_hm
    {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #5D5D5D;
    font-size: medium;
    font-weight: bold;
    padding: 5px 10px;
    }

div.rcp-content { }

.widget-content
    {
    border-left:  1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin-top:   5px;
    padding:      1px 1px 0;
    }

div.rcp-content table tr td.cell
    {
    border-left: 1px dashed #999999;
    margin-top: 15px;
    padding:    0 10px;
    width:      200px;
    }

td div.list-cats
    {
    width: 197px;
    }

div.rcp-content table tr td.td-right
    {
    border-right: 1px dashed #999999;
    margin-top: 15px;
    padding:    0 10px;
    }

.gdlnk span
    {
    background: url("images/all_button.png") no-repeat scroll-44px-18px transparent;
    float: left;
    height: 10px;
    margin-left: -12px;
    margin-right: 5px;
    margin-top: 10px;
    width: 8px;
    }

.gdlnk-leaf, .gdlnk
    {
    padding-left: 12px;
    }

.gdlnk-leaf span
    {
    background: url("images/all_button.png") no-repeat scroll-45px-4px transparent;
    float: left;
    height: 3px;
    margin-left: -12px;
    margin-right: 11px;
    margin-top: 12px;
    width: 3px;
    }

div.rcp-content table
    {
    border-spacing: 0 15px;
    }

div.rcp-content table td
    {
    vertical-align: top;
    }

.hierarchylist-seemore span
    {
    background: url("images/all_button.png") no-repeat scroll-30px-3px transparent;
    float: left;
    height: 10px;
    margin-left: 5px;
    margin-top: 10px;
    width: 10px;
    }

.hierarchylist-seefewer span
    {
    background: url("images/all_button.png") no-repeat scroll-53px-18px transparent;
    float: left;
    height: 10px;
    margin-left: 5px;
    margin-top: 10px;
    width: 10px;
    }

.hierarchylist-seefewer a
    {
    float: left;
    }

.hierarchylist-content
    {
    margin-left: 5px;
    width: 210px;
    }

.hierarchylist-seemore
    {
    background: url("images/all_button.png") no-repeat scroll-253px-7px transparent;
    float: left;
    margin-left: 15px;
    margin-top: 0;
    padding-left: 3px;
    width: auto;
    }

.hierarchylist-seefewer
    {
    background: url("images/all_button.png") no-repeat scroll-246px-7px transparent;
    float: left;
    margin-left: 15px;
    margin-top: 0;
    padding-left: 3px;
    width: auto;
    }

.hierarchylist-seemore a
    {
    float: left;
    }

.hierarchylist-seemore a:hover
    {
    text-decoration: none;
    }

div.hierarchylist-title
    {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 4px;
    margin-top:    -5px;
    }

div.hierarchylist-title a
    {
    color: #d44124;
    }

.gdlnk-1
    {
    font-size:   small;
    font-weight: bold;
    }

div.rcp-content table tr td.splitter
    {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 5px;
    padding: 0;
    width:  100%;
    }

div.rcp-content table tr td
    {
    padding-bottom: 20px;
    }

.layout-main-footer
    {
    background: none repeat scroll 0 0 #F4F4F4;
    float: left;
    margin-top: 110px;
    width: 100%;
    }

#footer
    {
    font-size: 13px;
    margin: 8px 0;
    padding: 10px;
    text-align: center;
    }

.create_ads_link
    {
    padding-left: 22px;
    }

a.create_ads_link:hover
    {
    text-decoration: underline;
    }

a.create_ads_link:fucus
    {
    color: red;
    }

.rct_cnb
    {
    width:  980px;
    margin: auto;
    }

.home_left
    {
    width: 660px;
    float: left;
    }

.home_right
    {
    float:  right;
    height: 100px;
    margin-left: 0;
    margin-top: 20px;
    width:  300px;
    }

.home_right_top
    {
    background: url("images/all_button.png") no-repeat scroll-0px-63px transparent;
    float: left;
    height: 6px;
    width: 300px;
    position: relative;
    }

.home_right_top.label_new
    {
    background: url("images/all_button.png") no-repeat scroll 0-102px transparent;
    height: 50px;
    position: absolute;
    right:  0;
    top:    1px;
    width:  50px;
    }

.home_right_bottom
    {
    background: url("images/all_button.png") no-repeat scroll 0-74px transparent;
    float: left;
    height: 6px;
    width: 300px;
    }

.home_right_content
    {
    width: 278px;
    float: left;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0 10px;
    }

.home_right_content.label
    {
    width:         100%;
    border-bottom: 1px solid #cccccc;
    color:         #3b6fba;
    font-weight:   bold;
    }

.home_right_content li
    {
    list-style:   none outside none;
    padding-left: 13px;
    }

.home_right_content li span
    {
    background: url("images/all_button.png") no-repeat scroll-45px-4px transparent;
    float: left;
    height: 5px;
    margin-left: -12px;
    margin-right: 5px;
    margin-top: 12px;
    width: 8px;
    }

.ff-left
    {
    float:      left;
    margin-top: 15px;
    width:      220px;
    }

.ff-center
    {
    margin-left: 240px;
    padding-top: 10px;
    }

.rlp-x
    {
    background: url("images/all_button.png") no-repeat scroll-99px-122px transparent;
    float: left;
    height: 8px;
    margin: 3px 5px 8px-4px;
    position: relative;
    width: 11px;
    }

h3.asr-tl
    {
    color:   #D44124;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    margin:  0;
    }

.hlist.hlink
    {
    font-weight: bold;
    margin: 5px 0 0 15px;
    }

div.hlink span.cnt, .hlink_1 span.cnt, .asr-v .cnt
    {
    color:       #CCCCCC;
    font-family: Verdana;
    font-size:   11px;
    font-weight: normal;
    }

.hlink_1 a
    {
    color:           #222;
    text-decoration: none;
    }

.hlink_1 a:hover
    {
    color:           #222;
    text-decoration: underline;
    }

.ctlb
    {
    border-bottom: 7px solid #F4F4F4;
    margin: 5px 7px 0 1px;
    padding: 5px;
    }

label.chkViewAll
    {
    cursor:      pointer;
    margin-left: -8px;
    }

div.clu1 { }

div.clu
    {
    font-size:   13px;
    line-height: 130%;
    overflow:    auto;
    padding:     10px 0;
    width:       730px;
    border-bottom: 1px solid #ccc;
    }

div.clu div.pic
    {
    float:      left;
    margin-top: -10px;
    padding:    10px 0 0 5px;
    position:   relative;
    text-align: center;
    width:      140px;
    }

div.clu1 div.iti
    {
    margin:  0 145px 0 145px;
    padding: 0px 0 0 15px;
    }

#v4-86
    {
    float: left;
    width: 99%;
    }

.summary1 { }

.list-view.summary
    {
    margin:     0 0 5px;
    text-align: left;
    }

.pgbc
    {
    border-collapse: separate;
    float: left;
    padding: 5px 0 5px 3px;
    width: 744px;
    }

.pgbc li.first a
    {
    background: url("images/all_button.png") no-repeat scroll-73px-147px transparent;
    float: left;
    font-size: 0;
    height: 16px;
    width: 18px;
    }

.pgbc li.last a
    {
    background: url("images/all_button.png") no-repeat scroll-136px-147px transparent;
    float: left;
    font-size: 0;
    height: 16px;
    width: 18px;
    }

.pgbc li.page a
    {
    color:  #3B6FBA;
    cursor: pointer;
    float:  left;
    height: 20px;
    padding-left: 1px;
    padding-right: 5px;
    text-decoration: underline;
    margin-top: -7px;
    }

.pgbc li.page:last-child a
    {
    background: none;
    }

.pgbc li.selected a
    {
    color:  #3B6FBA;
    cursor: default;
    font-weight: bold;
    padding-left: 0;
    text-decoration: none;
    }

.pgbc li.previous a
    {
    background: url("images/all_button.png") no-repeat scroll-94px-147px transparent;
    float: left;
    font-size: 0;
    height: 16px;
    width: 18px;
    }

.pgbc li.next a
    {
    background: url("images/all_button.png") no-repeat scroll-115px-147px transparent;
    float: left;
    font-size: 0;
    height: 16px;
    width: 18px;
    }

.pgbc li.next
    {
    background:  none repeat scroll 0 0 #FFFFFF;
    margin-left: -9px;
    padding-left: 6px;
    }

.pgbc li
    {
    display: inline-block;
    }

.pgbc li.page
    {
    border-right: 1px solid #000000;
    height: 12px;
    }

.pgbc li.hidden a
    {
    cursor: default;
    }

.pgbc ul.yiiPager
    {
    text-align: center;
    width: 730px;
    }

.list-view.pgbc.pager
    {
    margin: auto;
    width: auto;
    }

.lview td
    {
    vertical-align: top;
    }

.pager.pages
    {
    padding: 3px 2px;
    }

.pager.pages span
    {
    background: url("images/all_button.png") no-repeat scroll-159px-146px transparent;
    }

.botpg-prev a.disabled { }

.botpg-prev a.disabled i, .botpg-next a.disabled i
    {
    display: none;
    }

.botpg-prev i, .botpg-next i
    {
    display: none;
    }

.botpg-next a
    {
    background: url("images/all_button.png") no-repeat scroll-115px-147px transparent;
    cursor: pointer;
    display: block;
    margin-left: -2px;
    margin-top: 3px;
    }

.botpg-next a b
    {
    display: inline-block;
    height: 21px;
    width:  16px;
    }

.botpg-prev a.disabled b { }

.pager a.disabled
    {
    cursor: default;
    }

.botpg-prev a
    {
    background: url("images/all_button.png") no-repeat scroll-94px-148px transparent;
    cursor: pointer;
    display: block;
    float:  left;
    height: 15px;
    margin-left: 0;
    margin-right: -3px;
    margin-top: 4px;
    width:  16px;
    }

.botpg-next a.disabled { }

.botpg-next a.disabled b
    {
    background-position: -103px-135px;
    }

.botpg-prev a.disabled
    {
    padding-left: 18px;
    }

.pager.pages a
    {
    color:  #666666;
    margin: 0 0 0 4px;
    padding: 1px 4px;
    text-decoration: underline;
    }

.pager a.disabled
    {
    color:  #3b6fba;
    cursor: default;
    padding-left: 0;
    text-decoration: none;
    font-weight: bold;
    }

.ds-rlp.rlp-t
    {
    color:   #000000;
    padding: 8px 10px 3px;
    }

.asr.asr-nd a b
    {
    background-position: -119px-130px;
    }

.asr.asr-v b
    {
    cursor: pointer;
    height: 11px;
    left:   0;
    position: absolute;
    top:    -1px;
    width:  11px;
    }

.asr.asr-v b
    {
    margin-top: 2px;
    }

.asr.asr-sd a b
    {
    background-position: -129px-130px;
    }

.asr.asr-v a, .asr.asr-v a:active, .asr.asr-v a:visited
    {
    color:     #333333;
    font-size: 12px;
    line-height: 16px;
    position:  relative;
    text-decoration: none;
    padding-left: 15px;
    }

.asr.asr-nd a:hover b, .asr.asr-nh a b
    {
    background-position: -129px-130px
    }

.asr.asr-nd span.cnt
    {
    font-size: 11px;
    }

.asr-b.msg
    {
    color:   #FF0000;
    display: none;
    font-family: Verdana;
    font-size: xx-small;
    padding: 2px 0 2px 20px;
    }

.asr.asr-e.msg
    {
    background: url("images/iconError_16x16.gif") no-repeat scroll 0 0 transparent;
    }

.rlp-c.asr-b.range input.submit
    {
    border: medium none;
    color: #DDDDDD;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    margin-left: 5px;
    outline: medium none;
    padding: 0;
    position: absolute;
    width: 20px;
    }

a.clear
    {
    color: blue !important;
    }

.asr-b.prs
    {
    margin-top: 7px;
    }

.rlp-h
    {
    margin-left: 16px;
    margin-top: 5px;
    }

ul.filter li
    {
    display:      inline;
    margin-right: 70px;
    }

ul.filter li.last
    {
    margin-right: 0;
    float: right;
    }

ul.filter
    {
    margin:  0;
    padding: 0;
    }

ul.filter li a.bold
    {
    font-weight: bold;
    }

#chkViewAll { }

ul.filter li a:active
    {
    color: #7c3a9b;
    }

.navigator h1
    {
    float:     left;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 4px;
    }

ul.filter_list li
    {
    display:     inline-block;
    font-weight: bold;
    list-style:  none outside none;
    margin-right: 28px;
    padding:     5px;
    }

table.loginBtns li{
	list-style: none;
}

table.loginBtns{
	width:990px;
}
table.loginBtns li{
    float: left;
    padding: 0 350px;
    width: 290px;
}
table.loginBtns li label{
    float: left;
    text-align: left;
    width: 200px;
    margin-top: 25px;
    font-weight: bold;
}
table.loginBtns li {
	float:right;
	text-align: right;
}
